Source: oxyos-exit
Section: misc
Priority: extra
Maintainer: OxyHQ <admin@oxy.so>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 3.9.5
Homepage: https://os.oxy.so

Package: oxyos-exit
Architecture: all
Depends: ${misc:Depends}, python3-gi
Description: OxyOS logout script.
 GUI logout/shutdown/restart/suspend script.
